:root {
  --primary-0: #000000;
  --primary-10: #23005c;
  --primary-20: #3c058d;
  --primary-25: #471c98;
  --primary-30: #532ba4;
  --primary-35: #5f39b0;
  --primary-40: #6b46bd;
  --primary-50: #8561d8;
  --primary-60: #9f7bf5;
  --primary-70: #b89bff;
  --primary-80: #d0bcff;
  --primary-90: #e9ddff;
  --primary-95: #f6edff;
  --primary-98: #fef7ff;
  --primary-99: #fffbff;
  --primary-100: #ffffff;

  --secondary-0: #000000;
  --secondary-10: #20133e;
  --secondary-20: #362954;
  --secondary-25: #413460;
  --secondary-30: #4c3f6c;
  --secondary-35: #584b79;
  --secondary-40: #655786;
  --secondary-50: #7e6fa0;
  --secondary-60: #9889bb;
  --secondary-70: #b3a3d7;
  --secondary-80: #cfbef4;
  --secondary-90: #e9ddff;
  --secondary-95: #f6edff;
  --secondary-98: #fef7ff;
  --secondary-99: #fffbff;
  --secondary-100: #ffffff;

  --tertiary-0: #000000;
  --tertiary-10: #3a0033;
  --tertiary-20: #5e0053;
  --tertiary-25: #6e0962;
  --tertiary-30: #7d1b6e;
  --tertiary-35: #8b297b;
  --tertiary-40: #9a3688;
  --tertiary-50: #b750a3;
  --tertiary-60: #d569be;
  --tertiary-70: #f484da;
  --tertiary-80: #fface8;
  --tertiary-90: #ffd7f0;
  --tertiary-95: #ffecf5;
  --tertiary-98: #fff7f9;
  --tertiary-99: #fffbff;
  --tertiary-100: #ffffff;

  --neutral-0: #000000;
  --neutral-10: #1d1a22;
  --neutral-20: #322f37;
  --neutral-25: #3d3a42;
  --neutral-30: #49454e;
  --neutral-35: #55515a;
  --neutral-40: #615d66;
  --neutral-50: #7a757f;
  --neutral-60: #948f99;
  --neutral-70: #afa9b3;
  --neutral-80: #cac4cf;
  --neutral-90: #e7e0eb;
  --neutral-95: #f5eef9;
  --neutral-98: #fef7ff;
  --neutral-99: #fffbff;
  --neutral-100: #ffffff;
  --neutral-4: #0f0d14;
  --neutral-6: #151219;
  --neutral-12: #211e26;
  --neutral-17: #2b2931;
  --neutral-22: #36333b;
  --neutral-24: #3b3840;
  --neutral-87: #ded8e2;
  --neutral-92: #ede6f1;
  --neutral-94: #f2ebf6;
  --neutral-96: #f8f1fc;

  --neutral-variant-0: #000000;
  --neutral-variant-10: #1d1a26;
  --neutral-variant-20: #332e3b;
  --neutral-variant-25: #3e3947;
  --neutral-variant-30: #494452;
  --neutral-variant-35: #55505e;
  --neutral-variant-40: #615c6b;
  --neutral-variant-50: #7a7484;
  --neutral-variant-60: #948e9e;
  --neutral-variant-70: #afa8b9;
  --neutral-variant-80: #cbc3d5;
  --neutral-variant-90: #e8dff1;
  --neutral-variant-95: #f6edff;
  --neutral-variant-98: #fef7ff;
  --neutral-variant-99: #fffbff;
  --neutral-variant-100: #ffffff;

  --error-0: #000000;
  --error-10: #410002;
  --error-20: #690005;
  --error-25: #7e0007;
  --error-30: #93000a;
  --error-35: #a80710;
  --error-40: #ba1a1a;
  --error-50: #de3730;
  --error-60: #ff5449;
  --error-70: #ff897d;
  --error-80: #ffb4ab;
  --error-90: #ffdad6;
  --error-95: #ffedea;
  --error-98: #fff8f7;
  --error-99: #fffbff;
  --error-100: #ffffff;
}
